
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
   background-color: hsl(212, 45%, 89%);
}
.area {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.card {
    width: 450px ;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    box-shadow: 0px 5px 30px 5px rgba(219, 241, 253, 0.527);
}
.card img {
    border-radius: 10px;
    margin-top: 5%;
}
.card h2 {
    color:  hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;;
}
.card p {
    color:  hsl(220, 15%, 55%);
    padding-bottom: 10%;
    font-family: 'Outfit', sans-serif;
}

@media screen and (min-width:375px)  {
    .card {
        width: 325px;
    }
}